## Importing Libraries And Utilities

In [1]:
import numpy as np
import pandas as pd
import math
import sys, os

In [2]:
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from data_selector import *
from data_cleaner import *
from data_visualizer import *
from outlier_handler import OutlierHandler

## Data Loading

In [3]:
# Load the .csv data file

raw_data = pd.read_csv("../data/Week1_challenge_data_source(CSV).csv")
raw_data.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [4]:
raw_data.tail()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
149996,7.277826e+18,4/29/2019 7:28,451.0,4/30/2019 6:02,214.0,81230.0,2.082022e+14,3.365069e+10,3.548311e+13,D20434A,...,1.619167e+07,1.176343e+07,1.788370e+07,1.967816e+07,5.266097e+08,9.197207e+06,3.264510e+06,1.348742e+07,57628851.0,574175259.0
149997,7.349883e+18,4/29/2019 7:28,483.0,4/30/2019 10:41,187.0,97970.0,2.082019e+14,3.366345e+10,3.566051e+13,D10223C,...,1.387723e+07,8.288284e+06,1.935015e+07,2.129315e+07,6.268931e+08,4.735033e+06,7.121804e+08,2.457758e+06,39135081.0,666648844.0
149998,1.311448e+19,4/29/2019 7:28,283.0,4/30/2019 10:46,810.0,98249.0,2.082017e+14,3.362189e+10,3.572121e+13,T51102A,...,2.266051e+07,1.855903e+06,9.963942e+06,5.065760e+06,5.535395e+08,1.339432e+07,1.211009e+08,1.131473e+07,34912224.0,592786405.0
149999,1.311448e+19,4/29/2019 7:28,696.0,4/30/2019 10:40,327.0,97910.0,2.082021e+14,3.361962e+10,8.618620e+13,L88342B,...,8.817106e+06,8.305402e+06,3.322253e+06,1.317259e+07,3.525370e+08,2.529475e+06,8.147131e+08,1.406930e+06,29626096.0,371895920.0
150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,NaN,NaN

In [5]:
# Load the discription data file

data_discriptions = pd.read_excel("../data/Field_Descriptions.xlsx")
data_discriptions

,Fields,Description
0,bearer id,xDr session identifier
1,Dur. (ms),Total Duration of the xDR (in ms)
2,Start,Start time of the xDR (first frame timestamp)
3,Start ms,Milliseconds offset of start time for the xDR ...
4,End,End time of the xDR (last frame timestamp)
5,End ms,Milliseconds offset of end time of the xDR (la...
6,Dur. (s),Total Duration of the xDR (in s)
7,IMSI,International Mobile Subscriber Identity
8,MSISDN/Number,MS International PSTN/ISDN Number of mobile - ...
9,IMEI,International Mobile Equipment Identity
10,Last Location Name,User location call name (2G/3G/4G) at the end ...
11,Avg RTT DL (ms),Average Round Trip Time measurement Downlink d...
12,Avg RTT UL (ms),Average Round Trip Time measurement Uplink dir...
13,Avg Bearer TP DL (kbps),Average Bearer Throughput for Downlink (kbps) ...
14,Avg Bearer TP UL (kbps),Average Bearer Throughput for uplink (kbps) - ...
15,TCP DL Retrans. Vol (Bytes),TCP volume of Downlink packets detected as ret...
16,TCP UL Retrans. Vol (Bytes),TCP volume of Uplink packets detected as retra...
17,DL TP < 50 Kbps (%),Duration ratio when Bearer Downlink Throughput...
18,50 Kbps < DL TP < 250 Kbps (%),Duration ratio when Bearer Downlink Throughput...
19,250 Kbps < DL TP < 1 Mbps (%),Duration ratio when Bearer Downlink Throughput...
20,DL TP > 1 Mbps (%),Duration ratio when Bearer Downlink Throughput...
21,UL TP < 10 Kbps (%),Duration ratio when Bearer Uplink Throughput < â€¦.
22,10 Kbps < UL TP < 50 Kbps (%),Duration ratio when Bearer Uplink Throughput r...
23,50 Kbps < UL TP < 300 Kbps (%),Duration ratio when Bearer Uplink Throughput r...
24,UL TP > 300 Kbps (%),Duration ratio when Bearer Uplink Throughput > â€¦.
25,HTTP DL (Bytes),HTTP data volume (in Bytes) received by the MS...
26,HTTP UL (Bytes),HTTP data volume (in Bytes) sent by the MS dur...
27,Activity Duration DL (ms),Activity Duration for downlink (ms) - excludin...
28,Activity Duration UL (ms),Activity Duration for uplink (ms) - excluding ...
29,Dur. (ms).1,Total Duration of the xDR (in ms)
30,Handset Manufacturer,Handset manufacturer
31,Handset Type,Handset type of the mobile device
32,Nb of sec with 125000B < Vol DL,Number of seconds with IP Volume DL >
33,Nb of sec with 1250B < Vol UL < 6250B,Number of seconds with IP Volume UL between â€¦
34,Nb of sec with 31250B < Vol DL < 125000B,Number of seconds with IP Volume DL between â€¦
35,Nb of sec with 37500B < Vol UL,Number of seconds with IP Volume UL >
36,Nb of sec with 6250B < Vol DL < 31250B,Number of seconds with IP Volume DL between â€¦
37,Nb of sec with 6250B < Vol UL < 37500B,Number of seconds with IP Volume UL between â€¦
38,Nb of sec with Vol DL < 6250B,Number of seconds with IP Volume DL <
39,Nb of sec with Vol UL < 1250B,Number of seconds with IP Volume UL <
40,Social Media DL (Bytes),Social Media data volume (in Bytes) received b...
41,Social Media UL (Bytes),Social Media data volume (in Bytes) sent by th...
42,YouTube DL (Bytes),YouTube data volume (in Bytes) received by the...
43,YouTube UL (Bytes),YouTube data volume (in Bytes) sent by the MS ...
44,Netflix DL (Bytes),Netflix data volume (in Bytes) received by the...
45,Netflix UL (Bytes),Netflix data volume (in Bytes) sent by the MS ...
46,Google DL (Bytes),Google data volume (in Bytes) Received by the ...
47,Google UL (Bytes),Google data volume (in Bytes) sent by the MS d...
48,Email DL (Bytes),Email data volume (in Bytes) Received by the M...
49,Email UL (Bytes),Email data volume (in Bytes) sent by the MS du...
50,Gaming DL (Bytes),Gaming data volume (in Bytes) Received by the ...
51,Gaming UL (Bytes),Gaming data volume (in Bytes) sent by the MS d...
52,Other DL,Other data volume (in Bytes) received by the M...
53,Other UL,Other data volume (in Bytes) sent by the MS du...
54,Total DL (Bytes),Data volume (in Bytes) received by the MS duri...
55,Total UL (Bytes),Data volume (in Bytes) sent by the MS during t...

### Over all statistics of the data-set and the Discription

In [6]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start                                     150000 non-null  object
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  object
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

In [7]:
 #total number of items
raw_data.size

8250055

In [8]:
# number of data points
raw_data.shape
# print(f" There are {raw_data.shape[0]} rows and {raw_data.shape[1]} columns")

(150001, 55)

In [9]:
data_discriptions.shape

(56, 2)

In [10]:
raw_data.columns.tolist()

['Bearer Id',
 'Start',
 'Start ms',
 'End',
 'End ms',
 'Dur. (ms)',
 'IMSI',
 'MSISDN/Number',
 'IMEI',
 'Last Location Name',
 'Avg RTT DL (ms)',
 'Avg RTT UL (ms)',
 'Avg Bearer TP DL (kbps)',
 'Avg Bearer TP UL (kbps)',
 'TCP DL Retrans. Vol (Bytes)',
 'TCP UL Retrans. Vol (Bytes)',
 'DL TP < 50 Kbps (%)',
 '50 Kbps < DL TP < 250 Kbps (%)',
 '250 Kbps < DL TP < 1 Mbps (%)',
 'DL TP > 1 Mbps (%)',
 'UL TP < 10 Kbps (%)',
 '10 Kbps < UL TP < 50 Kbps (%)',
 '50 Kbps < UL TP < 300 Kbps (%)',
 'UL TP > 300 Kbps (%)',
 'HTTP DL (Bytes)',
 'HTTP UL (Bytes)',
 'Activity Duration DL (ms)',
 'Activity Duration UL (ms)',
 'Dur. (ms).1',
 'Handset Manufacturer',
 'Handset Type',
 'Nb of sec with 125000B < Vol DL',
 'Nb of sec with 1250B < Vol UL < 6250B',
 'Nb of sec with 31250B < Vol DL < 125000B',
 'Nb of sec with 37500B < Vol UL',
 'Nb of sec with 6250B < Vol DL < 31250B',
 'Nb of sec with 6250B < Vol UL < 37500B',
 'Nb of sec with Vol DL < 6250B',
 'Nb of sec with Vol UL < 1250B',
 'Social Media DL (Bytes)',
 'Social Media UL (Bytes)',
 'Google DL (Bytes)',
 'Google UL (Bytes)',
 'Email DL (Bytes)',
 'Email UL (Bytes)',
 'Youtube DL (Bytes)',
 'Youtube UL (Bytes)',
 'Netflix DL (Bytes)',
 'Netflix UL (Bytes)',
 'Gaming DL (Bytes)',
 'Gaming UL (Bytes)',
 'Other DL (Bytes)',
 'Other UL (Bytes)',
 'Total UL (Bytes)',
 'Total DL (Bytes)']

### Data Cleaning, Transforming and Extraction

### Handling Missing Values

In [11]:
totalCells = np.product(raw_data.shape)
totalCells

8250055

In [12]:
missingCount = raw_data.isnull().sum()
missingCount

Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                           572
Handset Type                                   572
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

In [13]:

totalMissing = missingCount.sum()
totalMissing

1031392

In [14]:
print("The TellCo dataset contains:", round(((totalMissing/totalCells) * 100), 2),"%", "missing values.")

The TellCo dataset contains: 12.5 % missing values.

In [15]:
missing_df = missing_values_table(raw_data)
missing_df

The selected dataframe has 55 columns.
There are 41 columns that have missing values.

,Missing Values,% of Total Values,Dtype
Nb of sec with 37500B < Vol UL,130254,86.84,float64
Nb of sec with 6250B < Vol UL < 37500B,111843,74.56,float64
Nb of sec with 125000B < Vol DL,97538,65.02,float64
TCP UL Retrans. Vol (Bytes),96649,64.43,float64
Nb of sec with 31250B < Vol DL < 125000B,93586,62.39,float64
Nb of sec with 1250B < Vol UL < 6250B,92894,61.93,float64
Nb of sec with 6250B < Vol DL < 31250B,88317,58.88,float64
TCP DL Retrans. Vol (Bytes),88146,58.76,float64
HTTP UL (Bytes),81810,54.54,float64
HTTP DL (Bytes),81474,54.32,float64
Avg RTT DL (ms),27829,18.55,float64
Avg RTT UL (ms),27812,18.54,float64
Last Location Name,1153,0.77,object
MSISDN/Number,1066,0.71,float64
Bearer Id,991,0.66,float64
Nb of sec with Vol UL < 1250B,793,0.53,float64
10 Kbps < UL TP < 50 Kbps (%),792,0.53,float64
UL TP > 300 Kbps (%),792,0.53,float64
50 Kbps < UL TP < 300 Kbps (%),792,0.53,float64
UL TP < 10 Kbps (%),792,0.53,float64
Nb of sec with Vol DL < 6250B,755,0.50,float64
250 Kbps < DL TP < 1 Mbps (%),754,0.50,float64
50 Kbps < DL TP < 250 Kbps (%),754,0.50,float64
DL TP < 50 Kbps (%),754,0.50,float64
DL TP > 1 Mbps (%),754,0.50,float64
Handset Type,572,0.38,object
Handset Manufacturer,572,0.38,object
IMEI,572,0.38,float64
IMSI,570,0.38,float64
Dur. (ms),1,0.00,float64
Total UL (Bytes),1,0.00,float64
Start ms,1,0.00,float64
End,1,0.00,object
End ms,1,0.00,float64
Start,1,0.00,object
Avg Bearer TP DL (kbps),1,0.00,float64
Dur. (ms).1,1,0.00,float64
Activity Duration UL (ms),1,0.00,float64
Activity Duration DL (ms),1,0.00,float64
Avg Bearer TP UL (kbps),1,0.00,float64
Total DL (Bytes),1,0.00,float64

**NB:** *From the above result, I can see that some of the columns has a greater missing values and I decide to drop a column with missing value of greater than or equal to 30% of the entire column data*

In [16]:
columns_to_remove = missing_df[missing_df['% of Total Values'] >= 30.00].index.tolist()
columns_to_remove

['Nb of sec with 37500B < Vol UL',
 'Nb of sec with 6250B < Vol UL < 37500B',
 'Nb of sec with 125000B < Vol DL',
 'TCP UL Retrans. Vol (Bytes)',
 'Nb of sec with 31250B < Vol DL < 125000B',
 'Nb of sec with 1250B < Vol UL < 6250B',
 'Nb of sec with 6250B < Vol DL < 31250B',
 'TCP DL Retrans. Vol (Bytes)',
 'HTTP UL (Bytes)',
 'HTTP DL (Bytes)']

**Here:** *We can see that **TCP UL Retrans**  and **TCP DL Retrans.** are the columns to be removed based on the criteria, **but** Task-3 of **Experience Analytics** Requires these data. so we can leave it as it is for the next stages.*

In [17]:
columns_to_remove = [col for col in columns_to_remove if col not in ['TCP UL Retrans. Vol (Bytes)',
    'TCP DL Retrans. Vol (Bytes)']]
columns_to_remove

['Nb of sec with 37500B < Vol UL',
 'Nb of sec with 6250B < Vol UL < 37500B',
 'Nb of sec with 125000B < Vol DL',
 'Nb of sec with 31250B < Vol DL < 125000B',
 'Nb of sec with 1250B < Vol UL < 6250B',
 'Nb of sec with 6250B < Vol DL < 31250B',
 'HTTP UL (Bytes)',
 'HTTP DL (Bytes)']

In [18]:
my_df = raw_data.copy()

In [19]:
# Droping the rest columens
my_df = my_df.drop(columns_to_remove, axis=1)
my_df.shape

(150001, 47)

In [20]:
percent_missing_values(my_df)

These dataset contains 3.6 % missing values.

In [21]:
missing_values_table(my_df)

The selected dataframe has 47 columns.
There are 33 columns that have missing values.

                                Missing Values  % of Total Values    Dtype
TCP UL Retrans. Vol (Bytes)              96649              64.43  float64
TCP DL Retrans. Vol (Bytes)              88146              58.76  float64
Avg RTT DL (ms)                          27829              18.55  float64
Avg RTT UL (ms)                          27812              18.54  float64
Last Location Name                        1153               0.77   object
MSISDN/Number                             1066               0.71  float64
Bearer Id                                  991               0.66  float64
Nb of sec with Vol UL < 1250B              793               0.53  float64
UL TP > 300 Kbps (%)                       792               0.53  float64
50 Kbps < UL TP < 300 Kbps (%)             792               0.53  float64
10 Kbps < UL TP < 50 Kbps (%)              792               0.53  float64
UL TP < 10 Kbps (%)                        792               0.53  float64
Nb of sec with Vol DL < 6250B              755               0.50  float64
50 Kbps < DL TP < 250 Kbps (%)             754               0.50  float64
DL TP > 1 Mbps (%)                         754               0.50  float64
250 Kbps < DL TP < 1 Mbps (%)              754               0.50  float64
DL TP < 50 Kbps (%)                        754               0.50  float64
IMEI                                       572               0.38  float64
Handset Manufacturer                       572               0.38   object
Handset Type                               572               0.38   object
IMSI                                       570               0.38  float64
Start                                        1               0.00   object
Avg Bearer TP UL (kbps)                      1               0.00  float64
Avg Bearer TP DL (kbps)                      1               0.00  float64
Dur. (ms)                                    1               0.00  float64
End ms                                       1               0.00  float64
Activity Duration DL (ms)                    1               0.00  float64
Activity Duration UL (ms)                    1               0.00  float64
Dur. (ms).1                                  1               0.00  float64
End                                          1               0.00   object
Start ms                                     1               0.00  float64
Total UL (Bytes)                             1               0.00  float64
Total DL (Bytes)                             1               0.00  float64

In [22]:
# backward filling
fix_missing_bfill(my_df, 'TCP UL Retrans. Vol (Bytes)')

96649 missing values in the column TCP UL Retrans. Vol (Bytes) have been replaced using the backward fill method.

0         7230.0
1         7230.0
2         7230.0
3         7230.0
4         7230.0
           ...
149996       NaN
149997       NaN
149998       NaN
149999       NaN
150000       NaN
Name: TCP UL Retrans. Vol (Bytes), Length: 150001, dtype: float64

In [23]:
fix_missing_bfill(my_df, 'TCP DL Retrans. Vol (Bytes)')

88146 missing values in the column TCP DL Retrans. Vol (Bytes) have been replaced using the backward fill method.

0         19520.0
1         19520.0
2         19520.0
3         19520.0
4         19520.0
           ...
149996        NaN
149997        NaN
149998        NaN
149999        NaN
150000        NaN
Name: TCP DL Retrans. Vol (Bytes), Length: 150001, dtype: float64

In [24]:
my_df['Avg RTT DL (ms)'].skew(skipna=True)

62.90782807995961

In [25]:
my_df['Avg RTT UL (ms)'].skew(skipna=True)

28.45741458546382

In [26]:
fix_missing_ffill(my_df, 'Avg RTT DL (ms)')

27829 missing values in the column Avg RTT DL (ms) have been replaced using the forward fill method.

0         42.0
1         65.0
2         65.0
3         65.0
4         65.0
          ...
149996    32.0
149997    27.0
149998    43.0
149999    37.0
150000    37.0
Name: Avg RTT DL (ms), Length: 150001, dtype: float64

In [27]:
fix_missing_ffill(my_df, 'Avg RTT UL (ms)')

27812 missing values in the column Avg RTT UL (ms) have been replaced using the forward fill method.

0         5.0
1         5.0
2         5.0
3         5.0
4         5.0
         ...
149996    0.0
149997    2.0
149998    6.0
149999    5.0
150000    5.0
Name: Avg RTT UL (ms), Length: 150001, dtype: float64

In [28]:
#check the result
percent_missing_values(my_df)

These dataset contains 0.19 % missing values.

In [29]:
missing_values_table(my_df)

The selected dataframe has 47 columns.
There are 31 columns that have missing values.

                                Missing Values  % of Total Values    Dtype
Last Location Name                        1153               0.77   object
MSISDN/Number                             1066               0.71  float64
Bearer Id                                  991               0.66  float64
Nb of sec with Vol UL < 1250B              793               0.53  float64
UL TP > 300 Kbps (%)                       792               0.53  float64
50 Kbps < UL TP < 300 Kbps (%)             792               0.53  float64
10 Kbps < UL TP < 50 Kbps (%)              792               0.53  float64
UL TP < 10 Kbps (%)                        792               0.53  float64
Nb of sec with Vol DL < 6250B              755               0.50  float64
DL TP < 50 Kbps (%)                        754               0.50  float64
DL TP > 1 Mbps (%)                         754               0.50  float64
250 Kbps < DL TP < 1 Mbps (%)              754               0.50  float64
50 Kbps < DL TP < 250 Kbps (%)             754               0.50  float64
IMEI                                       572               0.38  float64
Handset Type                               572               0.38   object
Handset Manufacturer                       572               0.38   object
IMSI                                       570               0.38  float64
TCP UL Retrans. Vol (Bytes)                  5               0.00  float64
TCP DL Retrans. Vol (Bytes)                  5               0.00  float64
Dur. (ms).1                                  1               0.00  float64
Total UL (Bytes)                             1               0.00  float64
Start ms                                     1               0.00  float64
End                                          1               0.00   object
Activity Duration DL (ms)                    1               0.00  float64
Activity Duration UL (ms)                    1               0.00  float64
End ms                                       1               0.00  float64
Dur. (ms)                                    1               0.00  float64
Avg Bearer TP DL (kbps)                      1               0.00  float64
Avg Bearer TP UL (kbps)                      1               0.00  float64
Start                                        1               0.00   object
Total DL (Bytes)                             1               0.00  float64

In [30]:
percent_missing_rows(my_df)

2.08 % of the rows in the dataset contain atleast one missing value.

**Here-** we have **Handset Type** and **Handset Manufacturer** are catagorical values so we can change there value to **not_known**

In [31]:
fix_missing_value(my_df, 'Handset Type', 'not_known')
fix_missing_value(my_df, 'Handset Manufacturer', 'not_known')

572 missing values in the column Handset Type have been replaced by not_known.
572 missing values in the column Handset Manufacturer have been replaced by not_known.

0           Samsung
1           Samsung
2           Samsung
3         undefined
4           Samsung
            ...
149996        Apple
149997        Apple
149998        Apple
149999       Huawei
150000    not_known
Name: Handset Manufacturer, Length: 150001, dtype: object

In [32]:
percent_missing_values(my_df)

These dataset contains 0.17 % missing values.

In [33]:
percent_missing_rows(my_df)

2.08 % of the rows in the dataset contain atleast one missing value.

In [34]:
drop_rows_with_missing_values(my_df)

3114 rows containg missing values were dropped.

In [35]:
percent_missing_values(my_df)

These dataset contains 0.0 % missing values.

**Summery of handeling missing Values:-**
- *

### Data Type Conversion

In [38]:
my_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 146887 entries, 0 to 149995
Data columns (total 47 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Bearer Id                       146887 non-null  float64
 1   Start                           146887 non-null  object
 2   Start ms                        146887 non-null  float64
 3   End                             146887 non-null  object
 4   End ms                          146887 non-null  float64
 5   Dur. (ms)                       146887 non-null  float64
 6   IMSI                            146887 non-null  float64
 7   MSISDN/Number                   146887 non-null  float64
 8   IMEI                            146887 non-null  float64
 9   Last Location Name              146887 non-null  object
 10  Avg RTT DL (ms)                 146887 non-null  float64
 11  Avg RTT UL (ms)                 146887 non-null  float64
 12  Avg Bearer TP DL (kbps)         146887 non-null  float64
 13  Avg Bearer TP UL (kbps)         146887 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)     146887 non-null  float64
 15  TCP UL Retrans. Vol (Bytes)     146887 non-null  float64
 16  DL TP < 50 Kbps (%)             146887 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)  146887 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)   146887 non-null  float64
 19  DL TP > 1 Mbps (%)              146887 non-null  float64
 20  UL TP < 10 Kbps (%)             146887 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)   146887 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)  146887 non-null  float64
 23  UL TP > 300 Kbps (%)            146887 non-null  float64
 24  Activity Duration DL (ms)       146887 non-null  float64
 25  Activity Duration UL (ms)       146887 non-null  float64
 26  Dur. (ms).1                     146887 non-null  float64
 27  Handset Manufacturer            146887 non-null  object
 28  Handset Type                    146887 non-null  object
 29  Nb of sec with Vol DL < 6250B   146887 non-null  float64
 30  Nb of sec with Vol UL < 1250B   146887 non-null  float64
 31  Social Media DL (Bytes)         146887 non-null  float64
 32  Social Media UL (Bytes)         146887 non-null  float64
 33  Google DL (Bytes)               146887 non-null  float64
 34  Google UL (Bytes)               146887 non-null  float64
 35  Email DL (Bytes)                146887 non-null  float64
 36  Email UL (Bytes)                146887 non-null  float64
 37  Youtube DL (Bytes)              146887 non-null  float64
 38  Youtube UL (Bytes)              146887 non-null  float64
 39  Netflix DL (Bytes)              146887 non-null  float64
 40  Netflix UL (Bytes)              146887 non-null  float64
 41  Gaming DL (Bytes)               146887 non-null  float64
 42  Gaming UL (Bytes)               146887 non-null  float64
 43  Other DL (Bytes)                146887 non-null  float64
 44  Other UL (Bytes)                146887 non-null  float64
 45  Total UL (Bytes)                146887 non-null  float64
 46  Total DL (Bytes)                146887 non-null  float64
dtypes: float64(42), object(5)
memory usage: 53.8+ MB

**Here:-** *We can observe that **"Start"** and **"End"** columns are datetime values ebut labelled as objects.*

In [39]:
convert_to_datetime(my_df, ['Start', 'End'])

In [40]:
my_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 146887 entries, 0 to 149995
Data columns (total 47 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Bearer Id                       146887 non-null  float64
 1   Start                           146887 non-null  datetime64[ns]
 2   Start ms                        146887 non-null  float64
 3   End                             146887 non-null  datetime64[ns]
 4   End ms                          146887 non-null  float64
 5   Dur. (ms)                       146887 non-null  float64
 6   IMSI                            146887 non-null  float64
 7   MSISDN/Number                   146887 non-null  float64
 8   IMEI                            146887 non-null  float64
 9   Last Location Name              146887 non-null  object
 10  Avg RTT DL (ms)                 146887 non-null  float64
 11  Avg RTT UL (ms)                 146887 non-null  float64
 12  Avg Bearer TP DL (kbps)         146887 non-null  float64
 13  Avg Bearer TP UL (kbps)         146887 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)     146887 non-null  float64
 15  TCP UL Retrans. Vol (Bytes)     146887 non-null  float64
 16  DL TP < 50 Kbps (%)             146887 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)  146887 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)   146887 non-null  float64
 19  DL TP > 1 Mbps (%)              146887 non-null  float64
 20  UL TP < 10 Kbps (%)             146887 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)   146887 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)  146887 non-null  float64
 23  UL TP > 300 Kbps (%)            146887 non-null  float64
 24  Activity Duration DL (ms)       146887 non-null  float64
 25  Activity Duration UL (ms)       146887 non-null  float64
 26  Dur. (ms).1                     146887 non-null  float64
 27  Handset Manufacturer            146887 non-null  object
 28  Handset Type                    146887 non-null  object
 29  Nb of sec with Vol DL < 6250B   146887 non-null  float64
 30  Nb of sec with Vol UL < 1250B   146887 non-null  float64
 31  Social Media DL (Bytes)         146887 non-null  float64
 32  Social Media UL (Bytes)         146887 non-null  float64
 33  Google DL (Bytes)               146887 non-null  float64
 34  Google UL (Bytes)               146887 non-null  float64
 35  Email DL (Bytes)                146887 non-null  float64
 36  Email UL (Bytes)                146887 non-null  float64
 37  Youtube DL (Bytes)              146887 non-null  float64
 38  Youtube UL (Bytes)              146887 non-null  float64
 39  Netflix DL (Bytes)              146887 non-null  float64
 40  Netflix UL (Bytes)              146887 non-null  float64
 41  Gaming DL (Bytes)               146887 non-null  float64
 42  Gaming UL (Bytes)               146887 non-null  float64
 43  Other DL (Bytes)                146887 non-null  float64
 44  Other UL (Bytes)                146887 non-null  float64
 45  Total UL (Bytes)                146887 non-null  float64
 46  Total DL (Bytes)                146887 non-null  float64
dtypes: datetime64[ns](2), float64(42), object(3)
memory usage: 53.8+ MB

In [41]:
strings = my_df.select_dtypes(include='object').columns.tolist()
strings

['Last Location Name', 'Handset Manufacturer', 'Handset Type']

In [42]:
convert_to_string(my_df, strings)

In [43]:
my_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 146887 entries, 0 to 149995
Data columns (total 47 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Bearer Id                       146887 non-null  float64
 1   Start                           146887 non-null  datetime64[ns]
 2   Start ms                        146887 non-null  float64
 3   End                             146887 non-null  datetime64[ns]
 4   End ms                          146887 non-null  float64
 5   Dur. (ms)                       146887 non-null  float64
 6   IMSI                            146887 non-null  float64
 7   MSISDN/Number                   146887 non-null  float64
 8   IMEI                            146887 non-null  float64
 9   Last Location Name              146887 non-null  string
 10  Avg RTT DL (ms)                 146887 non-null  float64
 11  Avg RTT UL (ms)                 146887 non-null  float64
 12  Avg Bearer TP DL (kbps)         146887 non-null  float64
 13  Avg Bearer TP UL (kbps)         146887 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)     146887 non-null  float64
 15  TCP UL Retrans. Vol (Bytes)     146887 non-null  float64
 16  DL TP < 50 Kbps (%)             146887 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)  146887 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)   146887 non-null  float64
 19  DL TP > 1 Mbps (%)              146887 non-null  float64
 20  UL TP < 10 Kbps (%)             146887 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)   146887 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)  146887 non-null  float64
 23  UL TP > 300 Kbps (%)            146887 non-null  float64
 24  Activity Duration DL (ms)       146887 non-null  float64
 25  Activity Duration UL (ms)       146887 non-null  float64
 26  Dur. (ms).1                     146887 non-null  float64
 27  Handset Manufacturer            146887 non-null  string
 28  Handset Type                    146887 non-null  string
 29  Nb of sec with Vol DL < 6250B   146887 non-null  float64
 30  Nb of sec with Vol UL < 1250B   146887 non-null  float64
 31  Social Media DL (Bytes)         146887 non-null  float64
 32  Social Media UL (Bytes)         146887 non-null  float64
 33  Google DL (Bytes)               146887 non-null  float64
 34  Google UL (Bytes)               146887 non-null  float64
 35  Email DL (Bytes)                146887 non-null  float64
 36  Email UL (Bytes)                146887 non-null  float64
 37  Youtube DL (Bytes)              146887 non-null  float64
 38  Youtube UL (Bytes)              146887 non-null  float64
 39  Netflix DL (Bytes)              146887 non-null  float64
 40  Netflix UL (Bytes)              146887 non-null  float64
 41  Gaming DL (Bytes)               146887 non-null  float64
 42  Gaming UL (Bytes)               146887 non-null  float64
 43  Other DL (Bytes)                146887 non-null  float64
 44  Other UL (Bytes)                146887 non-null  float64
 45  Total UL (Bytes)                146887 non-null  float64
 46  Total DL (Bytes)                146887 non-null  float64
dtypes: datetime64[ns](2), float64(42), string(3)
memory usage: 53.8 MB

In [54]:
my_df.dtypes

Bearer Id                                  int64
Start                             datetime64[ns]
Start ms                                 float64
End                               datetime64[ns]
End ms                                   float64
Dur. (ms)                                float64
IMSI                                       int64
MSISDN/Number                              int64
IMEI                                       int64
Last Location Name                        string
Avg RTT DL (ms)                          float64
Avg RTT UL (ms)                          float64
Avg Bearer TP DL (kbps)                  float64
Avg Bearer TP UL (kbps)                  float64
TCP DL Retrans. Vol (Bytes)              float64
TCP UL Retrans. Vol (Bytes)              float64
DL TP < 50 Kbps (%)                      float64
50 Kbps < DL TP < 250 Kbps (%)           float64
250 Kbps < DL TP < 1 Mbps (%)            float64
DL TP > 1 Mbps (%)                       float64
UL TP < 10 Kbps (%)                      float64
10 Kbps < UL TP < 50 Kbps (%)            float64
50 Kbps < UL TP < 300 Kbps (%)           float64
UL TP > 300 Kbps (%)                     float64
Activity Duration DL (ms)                float64
Activity Duration UL (ms)                float64
Dur. (ms).1                              float64
Handset Manufacturer                      string
Handset Type                              string
Nb of sec with Vol DL < 6250B            float64
Nb of sec with Vol UL < 1250B            float64
Social Media DL (Bytes)                  float64
Social Media UL (Bytes)                  float64
Google DL (Bytes)                        float64
Google UL (Bytes)                        float64
Email DL (Bytes)                         float64
Email UL (Bytes)                         float64
Youtube DL (Bytes)                       float64
Youtube UL (Bytes)                       float64
Netflix DL (Bytes)                       float64
Netflix UL (Bytes)                       float64
Gaming DL (Bytes)                        float64
Gaming UL (Bytes)                        float64
Other DL (Bytes)                         float64
Other UL (Bytes)                         float64
Total UL (Bytes)                         float64
Total DL (Bytes)                         float64
dtype: object

In [44]:
int_columns = ['Bearer Id', 'IMSI', 'MSISDN/Number', 'IMEI',]
convert_to_int(my_df, int_columns)

In [45]:
my_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 146887 entries, 0 to 149995
Data columns (total 47 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Bearer Id                       146887 non-null  int64
 1   Start                           146887 non-null  datetime64[ns]
 2   Start ms                        146887 non-null  float64
 3   End                             146887 non-null  datetime64[ns]
 4   End ms                          146887 non-null  float64
 5   Dur. (ms)                       146887 non-null  float64
 6   IMSI                            146887 non-null  int64
 7   MSISDN/Number                   146887 non-null  int64
 8   IMEI                            146887 non-null  int64
 9   Last Location Name              146887 non-null  string
 10  Avg RTT DL (ms)                 146887 non-null  float64
 11  Avg RTT UL (ms)                 146887 non-null  float64
 12  Avg Bearer TP DL (kbps)         146887 non-null  float64
 13  Avg Bearer TP UL (kbps)         146887 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)     146887 non-null  float64
 15  TCP UL Retrans. Vol (Bytes)     146887 non-null  float64
 16  DL TP < 50 Kbps (%)             146887 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)  146887 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)   146887 non-null  float64
 19  DL TP > 1 Mbps (%)              146887 non-null  float64
 20  UL TP < 10 Kbps (%)             146887 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)   146887 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)  146887 non-null  float64
 23  UL TP > 300 Kbps (%)            146887 non-null  float64
 24  Activity Duration DL (ms)       146887 non-null  float64
 25  Activity Duration UL (ms)       146887 non-null  float64
 26  Dur. (ms).1                     146887 non-null  float64
 27  Handset Manufacturer            146887 non-null  string
 28  Handset Type                    146887 non-null  string
 29  Nb of sec with Vol DL < 6250B   146887 non-null  float64
 30  Nb of sec with Vol UL < 1250B   146887 non-null  float64
 31  Social Media DL (Bytes)         146887 non-null  float64
 32  Social Media UL (Bytes)         146887 non-null  float64
 33  Google DL (Bytes)               146887 non-null  float64
 34  Google UL (Bytes)               146887 non-null  float64
 35  Email DL (Bytes)                146887 non-null  float64
 36  Email UL (Bytes)                146887 non-null  float64
 37  Youtube DL (Bytes)              146887 non-null  float64
 38  Youtube UL (Bytes)              146887 non-null  float64
 39  Netflix DL (Bytes)              146887 non-null  float64
 40  Netflix UL (Bytes)              146887 non-null  float64
 41  Gaming DL (Bytes)               146887 non-null  float64
 42  Gaming UL (Bytes)               146887 non-null  float64
 43  Other DL (Bytes)                146887 non-null  float64
 44  Other UL (Bytes)                146887 non-null  float64
 45  Total UL (Bytes)                146887 non-null  float64
 46  Total DL (Bytes)                146887 non-null  float64
dtypes: datetime64[ns](2), float64(38), int64(4), string(3)
memory usage: 53.8 MB

### Handling  Duplicates

In [47]:
drop_duplicates(my_df)

No duplicate rows were found.

In [61]:
selected_columns = my_df[["Dur. (ms)","Dur. (ms).1"]]
multiply_by_factor(selected_columns, ['Dur. (ms).1'], 1/1000)
selected_columns['comparison'] = (selected_columns['Dur. (ms)'] == selected_columns['Dur. (ms).1'].apply(math.floor))
selected_columns

C:\10-Accademy\Weak-1\TellCo-UserDataAnalytics\scripts\data_cleaner.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col] * factor
C:\Users\GEZAHE~1\AppData\Local\Temp/ipykernel_19524/2472654371.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_columns['comparison'] = (selected_columns['Dur. (ms)'] == selected_columns['Dur. (ms).1'].apply(math.floor))

        Dur. (ms)  Dur. (ms).1  comparison
0       1823652.0  1823652.892        True
1       1365104.0  1365104.371        True
2       1361762.0  1361762.651        True
3       1321509.0  1321509.685        True
4       1089009.0  1089009.389        True
...           ...          ...         ...
149991    61661.0    61661.729        True
149992    84940.0    84940.610        True
149993   125622.0   125622.433        True
149994   113545.0   113545.185        True
149995    59587.0    59587.792        True

[146887 rows x 3 columns]

In [62]:
print(all(selected_columns['comparison']))

True

- *These two columns has the same floored values and the second seems very reliable so droping the first be considerd*

In [64]:
backup_df = my_df.copy()

In [65]:
drop_columns(backup_df, ['Dur. (ms)'])

1 column was dropped.

### Handling Outliers

In [66]:
outlier_handler = OutlierHandler(backup_df)
outlier_handler

In [67]:
columns = backup_df.select_dtypes('float64').columns.tolist()
columns

['Start ms',
 'End ms',
 'Avg RTT DL (ms)',
 'Avg RTT UL (ms)',
 'Avg Bearer TP DL (kbps)',
 'Avg Bearer TP UL (kbps)',
 'TCP DL Retrans. Vol (Bytes)',
 'TCP UL Retrans. Vol (Bytes)',
 'DL TP < 50 Kbps (%)',
 '50 Kbps < DL TP < 250 Kbps (%)',
 '250 Kbps < DL TP < 1 Mbps (%)',
 'DL TP > 1 Mbps (%)',
 'UL TP < 10 Kbps (%)',
 '10 Kbps < UL TP < 50 Kbps (%)',
 '50 Kbps < UL TP < 300 Kbps (%)',
 'UL TP > 300 Kbps (%)',
 'Activity Duration DL (ms)',
 'Activity Duration UL (ms)',
 'Dur. (ms).1',
 'Nb of sec with Vol DL < 6250B',
 'Nb of sec with Vol UL < 1250B',
 'Social Media DL (Bytes)',
 'Social Media UL (Bytes)',
 'Google DL (Bytes)',
 'Google UL (Bytes)',
 'Email DL (Bytes)',
 'Email UL (Bytes)',
 'Youtube DL (Bytes)',
 'Youtube UL (Bytes)',
 'Netflix DL (Bytes)',
 'Netflix UL (Bytes)',
 'Gaming DL (Bytes)',
 'Gaming UL (Bytes)',
 'Other DL (Bytes)',
 'Other UL (Bytes)',
 'Total UL (Bytes)',
 'Total DL (Bytes)']

In [68]:
outlier_handler.getOverview(columns)

Name of columns,DL TP > 1 Mbps (%),10 Kbps < UL TP < 50 Kbps (%),250 Kbps < DL TP < 1 Mbps (%),Activity Duration DL (ms),Activity Duration UL (ms),Nb of sec with Vol UL < 1250B,Nb of sec with Vol DL < 6250B,UL TP < 10 Kbps (%),TCP DL Retrans. Vol (Bytes),Avg Bearer TP UL (kbps),...,Start ms,Youtube DL (Bytes),Email UL (Bytes),Email DL (Bytes),Google UL (Bytes),Google DL (Bytes),Social Media UL (Bytes),Social Media DL (Bytes),End ms,Total DL (Bytes)
Min,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,...,0.0,53.0,2.0,14.0,3.0,207.0,0.0,12.0,0.0,7114041.0
Q1,0.0,0.0,0.0,15418.0,22073.0,107.0,87.0,99.0,24895.0,47.0,...,250.0,5833462.0,233439.0,892573.0,1024371.5,2882586.5,16431.0,898089.0,251.0,243073402.5
Median,0.0,0.0,0.0,39726.0,47180.0,217.0,201.0,100.0,391635.0,63.0,...,499.0,11616334.0,466357.0,1793613.0,2054793.0,5766724.0,32908.0,1793409.0,500.0,455963875.0
Q3,0.0,0.0,1.0,697298.5,611803.0,2466.5,2612.5,100.0,3078146.0,1136.0,...,749.0,17440635.5,700297.5,2689818.0,3088071.5,8625551.0,49326.5,2694640.0,750.0,665783068.0
Max,94.0,98.0,76.0,136536461.0,144911293.0,604122.0,604061.0,100.0,4294425570.0,58613.0,...,999.0,23259098.0,936418.0,3586146.0,4121357.0,11462832.0,65870.0,3586064.0,999.0,902969616.0
IQR,0.0,0.0,1.0,681880.5,589730.0,2359.5,2525.5,1.0,3053251.0,1089.0,...,499.0,11607173.5,466858.5,1797245.0,2063700.0,5742964.5,32895.5,1796551.0,499.0,422709665.5
Lower fence,0.0,0.0,-1.5,-1007402.75,-862522.0,-3432.25,-3701.25,97.5,-4554981.5,-1586.5,...,-498.5,-11577298.25,-466848.75,-1803294.5,-2071178.5,-5731860.25,-32912.25,-1796737.5,-497.5,-390991095.75
Upper fence,0.0,0.0,2.5,1720119.25,1496398.0,6005.75,6400.75,101.5,7658022.5,2769.5,...,1497.5,34851395.75,1400585.25,5385685.5,6183621.5,17239997.75,98669.75,5389466.5,1498.5,1299847566.25
Skew,5.345557,10.941071,4.503234,5.821286,7.321154,7.467915,9.009273,-8.958674,16.755094,4.473627,...,0.000823,0.000119,0.007312,-0.002659,0.002242,-0.008414,0.000258,-0.001633,-0.001251,-0.003579
Number_of_outliers,36594,31509,29343,26126,25501,24870,24604,21811,21625,21104,...,0,0,0,0,0,0,0,0,0,0
Percentage_of_outliers,24.4%,21.01%,19.56%,17.42%,17.0%,16.58%,16.4%,14.54%,14.42%,14.07%,...,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%

In [69]:
outlier_handler.replace_outliers_with_fences(columns)

In [70]:
outlier_handler.getOverview(columns)

Name of columns,Start ms,Nb of sec with Vol DL < 6250B,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),...,DL TP < 50 Kbps (%),50 Kbps < DL TP < 250 Kbps (%),250 Kbps < DL TP < 1 Mbps (%),DL TP > 1 Mbps (%),UL TP < 10 Kbps (%),10 Kbps < UL TP < 50 Kbps (%),50 Kbps < UL TP < 300 Kbps (%),UL TP > 300 Kbps (%),Activity Duration DL (ms),Total DL (Bytes)
Min,0.0,1.0,12.0,0.0,207.0,3.0,14.0,2.0,53.0,105.0,...,77.5,0.0,0.0,0.0,97.5,0.0,0.0,0.0,0.0,7114041.0
Q1,250.0,87.0,898089.0,16431.0,2882586.5,1024371.5,892573.0,233439.0,5833462.0,5516549.0,...,91.0,0.0,0.0,0.0,99.0,0.0,0.0,0.0,15418.0,243073402.5
Median,499.0,201.0,1793409.0,32908.0,5766724.0,2054793.0,1793613.0,466357.0,11616334.0,11013447.0,...,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,39726.0,455963875.0
Q3,749.0,2612.5,2694640.0,49326.5,8625551.0,3088071.5,2689818.0,700297.5,17440635.5,16514278.0,...,100.0,4.0,1.0,0.0,100.0,0.0,0.0,0.0,697298.5,665783068.0
Max,999.0,6400.75,3586064.0,65870.0,11462832.0,4121357.0,3586146.0,936418.0,23259098.0,22011962.0,...,100.0,10.0,2.5,0.0,100.0,0.0,0.0,0.0,1720119.25,902969616.0
IQR,499.0,2525.5,1796551.0,32895.5,5742964.5,2063700.0,1797245.0,466858.5,11607173.5,10997729.0,...,9.0,4.0,1.0,0.0,1.0,0.0,0.0,0.0,681880.5,422709665.5
Lower fence,-498.5,-3701.25,-1796737.5,-32912.25,-5731860.25,-2071178.5,-1803294.5,-466848.75,-11577298.25,-10980044.5,...,77.5,-6.0,-1.5,0.0,97.5,0.0,0.0,0.0,-1007402.75,-390991095.75
Upper fence,1497.5,6400.75,5389466.5,98669.75,17239997.75,6183621.5,5385685.5,1400585.25,34851395.75,33010871.5,...,113.5,10.0,2.5,0.0,101.5,0.0,0.0,0.0,1720119.25,1299847566.25
Skew,0.000823,1.205814,-0.001633,0.000258,-0.008414,0.002242,-0.002659,0.007312,0.000119,-0.001265,...,-1.22817,1.315047,1.098748,0.0,-0.947267,0.0,0.0,0.0,1.205281,-0.003579
Number_of_outliers,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Percentage_of_outliers,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,...,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%

### ðŸ‘‰Dicriptive name for some Columns for next phase

In [71]:
backup_df['Social Media Data Volume (Bytes)'] = backup_df['Social Media UL (Bytes)'] + backup_df['Social Media DL (Bytes)']
backup_df['Google Data Volume (Bytes)'] = backup_df['Google UL (Bytes)'] + backup_df['Google DL (Bytes)']
backup_df['Email Data Volume (Bytes)'] = backup_df['Email UL (Bytes)'] + backup_df['Email DL (Bytes)']
backup_df['Youtube Data Volume (Bytes)'] = backup_df['Youtube UL (Bytes)'] + backup_df['Youtube DL (Bytes)']
backup_df['Netflix Data Volume (Bytes)'] = backup_df['Netflix UL (Bytes)'] + backup_df['Netflix DL (Bytes)']
backup_df['Gaming Data Volume (Bytes)'] = backup_df['Gaming UL (Bytes)'] + backup_df['Gaming DL (Bytes)']
backup_df['Other Data Volume (Bytes)'] = backup_df['Other UL (Bytes)'] + backup_df['Other DL (Bytes)']
backup_df['Total Data Volume (Bytes)'] = backup_df['Total UL (Bytes)'] + backup_df['Total DL (Bytes)']

In [73]:
backup_df

,Bearer Id,Start,Start ms,End,End ms,IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),...,Total UL (Bytes),Total DL (Bytes),Social Media Data Volume (Bytes),Google Data Volume (Bytes),Email Data Volume (Bytes),Youtube Data Volume (Bytes),Netflix Data Volume (Bytes),Gaming Data Volume (Bytes),Other Data Volume (Bytes),Total Data Volume (Bytes)
0,-9223372036854775808,2019-04-04 12:01:00,770.0,2019-04-25 14:35:00,662.0,208201448079117,33664962239,35521209507511,9.16456699548519E+015,42.0,...,36749741.0,308879636.0,1570185.0,2905912.0,3701304.0,18355943.0,17855187.0,292426453.0,180558843.0,345629377.0
1,-9223372036854775808,2019-04-09 13:04:00,235.0,2019-04-25 08:15:00,606.0,208201909211140,33681854413,35794009006359,L77566A,65.0,...,53800391.0,653384965.0,1933278.0,4414096.0,937385.0,39359124.0,35565545.0,609920783.0,541959383.0,707185356.0
2,-9223372036854775808,2019-04-09 17:42:00,1.0,2019-04-25 11:58:00,652.0,208200314458056,33760627129,35281510359387,D42335A,65.0,...,27883638.0,279807335.0,1726277.0,10229119.0,3363124.0,34425237.0,23751202.0,229980251.0,414908351.0,307690973.0
3,-9223372036854775808,2019-04-10 00:31:00,486.0,2019-04-25 07:36:00,171.0,208201402342131,33750343200,35356610164913,T21824A,65.0,...,43324218.0,846028530.0,657493.0,11811761.0,2070983.0,36534765.0,15092588.0,810387875.0,761837216.0,889352748.0
4,-9223372036854775808,2019-04-12 20:10:00,565.0,2019-04-25 10:40:00,954.0,208201401415120,33699795932,35407009745539,D88865A,65.0,...,38542814.0,569138589.0,912788.0,7748843.0,2110349.0,34222253.0,17539799.0,531237049.0,564619822.0,607681403.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149991,7349883264234529792,2019-04-29 07:28:00,794.0,2019-04-30 00:36:00,523.0,208201716588303,33762146363,35860607430880,D10033B,27.0,...,57231077.0,295424923.0,915749.0,12036660.0,1730617.0,17269104.0,38337514.0,268231454.0,263493166.0,352656000.0
149992,-9223372036854775808,2019-04-29 07:28:00,114.0,2019-04-30 07:04:00,724.0,208201402149148,33761274518,35327007109396,D78058B,37.0,...,45923464.0,70341448.0,1752716.0,7283344.0,954877.0,36814543.0,13742615.0,43581298.0,820617848.0,116264912.0
149993,-9223372036854775808,2019-04-29 07:28:00,79.0,2019-04-30 18:22:00,512.0,208201402072093,33626114091,35735309473406,D73542B,46.0,...,43629118.0,623318363.0,2307959.0,12459876.0,2555578.0,26306531.0,40974659.0,571286842.0,179348636.0,666947481.0
149994,-9223372036854775808,2019-04-29 07:28:00,83.0,2019-04-30 15:01:00,268.0,208200313074099,33645655643,35155409288696,T88383B,46.0,...,59377936.0,862796008.0,892867.0,8922614.0,1565542.0,42219856.0,28354119.0,825524976.0,792559807.0,922173944.0
149995,-9223372036854775808,2019-04-29 07:28:00,615.0,2019-04-30 00:01:00,407.0,208201402604057,33668648496,35332510508318,T85721A,121.0,...,53745392.0,819016468.0,993175.0,1265634.0,4280107.0,24553645.0,29618711.0,797160102.0,336273648.0,872761860.0

In [74]:
backup_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 146887 entries, 0 to 149995
Data columns (total 54 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Bearer Id                         146887 non-null  int64
 1   Start                             146887 non-null  datetime64[ns]
 2   Start ms                          146887 non-null  float64
 3   End                               146887 non-null  datetime64[ns]
 4   End ms                            146887 non-null  float64
 5   IMSI                              146887 non-null  int64
 6   MSISDN/Number                     146887 non-null  int64
 7   IMEI                              146887 non-null  int64
 8   Last Location Name                146887 non-null  string
 9   Avg RTT DL (ms)                   146887 non-null  float64
 10  Avg RTT UL (ms)                   146887 non-null  float64
 11  Avg Bearer TP DL (kbps)           146887 non-null  float64
 12  Avg Bearer TP UL (kbps)           146887 non-null  float64
 13  TCP DL Retrans. Vol (Bytes)       146887 non-null  float64
 14  TCP UL Retrans. Vol (Bytes)       146887 non-null  float64
 15  DL TP < 50 Kbps (%)               146887 non-null  float64
 16  50 Kbps < DL TP < 250 Kbps (%)    146887 non-null  float64
 17  250 Kbps < DL TP < 1 Mbps (%)     146887 non-null  float64
 18  DL TP > 1 Mbps (%)                146887 non-null  float64
 19  UL TP < 10 Kbps (%)               146887 non-null  float64
 20  10 Kbps < UL TP < 50 Kbps (%)     146887 non-null  float64
 21  50 Kbps < UL TP < 300 Kbps (%)    146887 non-null  float64
 22  UL TP > 300 Kbps (%)              146887 non-null  float64
 23  Activity Duration DL (ms)         146887 non-null  float64
 24  Activity Duration UL (ms)         146887 non-null  float64
 25  Dur. (ms).1                       146887 non-null  float64
 26  Handset Manufacturer              146887 non-null  string
 27  Handset Type                      146887 non-null  string
 28  Nb of sec with Vol DL < 6250B     146887 non-null  float64
 29  Nb of sec with Vol UL < 1250B     146887 non-null  float64
 30  Social Media DL (Bytes)           146887 non-null  float64
 31  Social Media UL (Bytes)           146887 non-null  float64
 32  Google DL (Bytes)                 146887 non-null  float64
 33  Google UL (Bytes)                 146887 non-null  float64
 34  Email DL (Bytes)                  146887 non-null  float64
 35  Email UL (Bytes)                  146887 non-null  float64
 36  Youtube DL (Bytes)                146887 non-null  float64
 37  Youtube UL (Bytes)                146887 non-null  float64
 38  Netflix DL (Bytes)                146887 non-null  float64
 39  Netflix UL (Bytes)                146887 non-null  float64
 40  Gaming DL (Bytes)                 146887 non-null  float64
 41  Gaming UL (Bytes)                 146887 non-null  float64
 42  Other DL (Bytes)                  146887 non-null  float64
 43  Other UL (Bytes)                  146887 non-null  float64
 44  Total UL (Bytes)                  146887 non-null  float64
 45  Total DL (Bytes)                  146887 non-null  float64
 46  Social Media Data Volume (Bytes)  146887 non-null  float64
 47  Google Data Volume (Bytes)        146887 non-null  float64
 48  Email Data Volume (Bytes)         146887 non-null  float64
 49  Youtube Data Volume (Bytes)       146887 non-null  float64
 50  Netflix Data Volume (Bytes)       146887 non-null  float64
 51  Gaming Data Volume (Bytes)        146887 non-null  float64
 52  Other Data Volume (Bytes)         146887 non-null  float64
 53  Total Data Volume (Bytes)         146887 non-null  float64
dtypes: datetime64[ns](2), float64(45), int64(4), string(3)
memory usage: 61.6 MB

In [75]:
backup_df.to_csv('../data/my_clean_data.csv')