# User Experience Analytics

## Imports

In [4]:
import pickle
import numpy as np
import pandas as pd
from math import floor
from sqlalchemy import create_engine
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from scipy.stats import zscore
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler, normalize
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import sys, os

In [5]:
from sqlalchemy import create_engine
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option("expand_frame_repr", False)
pd.set_option('display.float_format', '{:.2f}'.format)

In [9]:
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from outlier_handler import OutlierHandler
from data_visualizer import *
#from vis_plotly import *

## Data Loading

In [10]:
df = pd.read_csv("../data/my_clean_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146887 entries, 0 to 146886
Data columns (total 55 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Unnamed: 0                        146887 non-null  int64
 1   Bearer Id                         146887 non-null  int64
 2   Start                             146887 non-null  object
 3   Start ms                          146887 non-null  float64
 4   End                               146887 non-null  object
 5   End ms                            146887 non-null  float64
 6   IMSI                              146887 non-null  int64
 7   MSISDN/Number                     146887 non-null  int64
 8   IMEI                              146887 non-null  int64
 9   Last Location Name                146887 non-null  object
 10  Avg RTT DL (ms)                   146887 non-null  float64
 11  Avg RTT UL (ms)                   146887 non-null  float64
 12  Avg Bearer TP DL (kbps)           146887 non-null  float64
 13  Avg Bearer TP UL (kbps)           146887 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)       146887 non-null  float64
 15  TCP UL Retrans. Vol (Bytes)       146887 non-null  float64
 16  DL TP < 50 Kbps (%)               146887 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)    146887 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)     146887 non-null  float64
 19  DL TP > 1 Mbps (%)                146887 non-null  float64
 20  UL TP < 10 Kbps (%)               146887 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)     146887 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)    146887 non-null  float64
 23  UL TP > 300 Kbps (%)              146887 non-null  float64
 24  Activity Duration DL (ms)         146887 non-null  float64
 25  Activity Duration UL (ms)         146887 non-null  float64
 26  Dur. (ms).1                       146887 non-null  float64
 27  Handset Manufacturer              146887 non-null  object
 28  Handset Type                      146887 non-null  object
 29  Nb of sec with Vol DL < 6250B     146887 non-null  float64
 30  Nb of sec with Vol UL < 1250B     146887 non-null  float64
 31  Social Media DL (Bytes)           146887 non-null  float64
 32  Social Media UL (Bytes)           146887 non-null  float64
 33  Google DL (Bytes)                 146887 non-null  float64
 34  Google UL (Bytes)                 146887 non-null  float64
 35  Email DL (Bytes)                  146887 non-null  float64
 36  Email UL (Bytes)                  146887 non-null  float64
 37  Youtube DL (Bytes)                146887 non-null  float64
 38  Youtube UL (Bytes)                146887 non-null  float64
 39  Netflix DL (Bytes)                146887 non-null  float64
 40  Netflix UL (Bytes)                146887 non-null  float64
 41  Gaming DL (Bytes)                 146887 non-null  float64
 42  Gaming UL (Bytes)                 146887 non-null  float64
 43  Other DL (Bytes)                  146887 non-null  float64
 44  Other UL (Bytes)                  146887 non-null  float64
 45  Total UL (Bytes)                  146887 non-null  float64
 46  Total DL (Bytes)                  146887 non-null  float64
 47  Social Media Data Volume (Bytes)  146887 non-null  float64
 48  Google Data Volume (Bytes)        146887 non-null  float64
 49  Email Data Volume (Bytes)         146887 non-null  float64
 50  Youtube Data Volume (Bytes)       146887 non-null  float64
 51  Netflix Data Volume (Bytes)       146887 non-null  float64
 52  Gaming Data Volume (Bytes)        146887 non-null  float64
 53  Other Data Volume (Bytes)         146887 non-null  float64
 54  Total Data Volume (Bytes)         146887 non-null  float64
dtypes: float64(45), int64(5), object(5)
memory usage: 61.6+ MB

In [12]:
user_engagements = pd.read_csv("../data/user_engagements.csv")
user_engagements.head(5)

   MSISDN/Number  cluster  user_sessions  time_duration  Total Data Volume (Bytes)
0    33601001722        0           1.00   116720140.00               878690574.00
1    33601001754        2           1.00   181230963.00               156859643.00
2    33601002511        2           1.00   134969374.00               595966483.00
3    33601007832        3           1.00    49878024.00               422320698.00
4    33601008617        1           2.00    37104453.00              1457410944.00

In [ ]:
user_experiance = pd.read_csv("../data/TellCo_user_experience_data.csv")
user_experiance.head(5)

1. Engagement score to each user. Consider the engagement score as the Euclidean distance between the user data point & the less engaged cluster(use the first clustering for this)(Euclidean Distance)

In [ ]:
with open("../models/TellCo_user_engagement.pkl", "rb") as f:
    kmeans1 = pickle.load(f)

In [ ]:
less_engagement = 3

- Distance between the centroid and samples

In [ ]:
df.info()

In [ ]:
eng_df = user_engagements.set_index('MSISDN/Number')[
    ['time_duration', 'Total Data Volume (Bytes)', 'user_sessions']]
scaler = StandardScaler()
scaled_array = scaler.fit_transform(eng_df)
pd.DataFrame(scaled_array).head(5)

In [ ]:
data_normalized = normalize(scaled_array)
pd.DataFrame(data_normalized).head(5)

In [ ]:
distance = kmeans1.fit_transform(data_normalized)
distance_from_less_engagement = list(
    map(lambda x: x[less_engagement], distance))
user_engagements['engagement_score'] = distance_from_less_engagement
user_engagements.head(5)

- Considering the experience score as the Euclidean distance between the user data point & the worst experience’s cluster members

In [ ]:
with open("../models/TellCo_user_experiance.pkl", "rb") as f:
    kmeans2 = pickle.load(f)

In [ ]:
worst_experiance = 0

In [ ]:
exp_df = user_experiance.set_index('MSISDN/Number')[
    ['total_avg_rtt', 'total_avg_tp', 'total_avg_tcp']]
scaler = StandardScaler()
scaled_array = scaler.fit_transform(exp_df)
pd.DataFrame(scaled_array).head(5)

In [ ]:
data_normalized = normalize(scaled_array)
pd.DataFrame(data_normalized).head(5)

In [ ]:
exp_df = user_experiance.set_index('MSISDN/Number')
distance = kmeans2.fit_transform(data_normalized)
distance_from_worest_experiance = list(
    map(lambda x: x[worst_experiance], distance))
user_experiance['experience_score'] = distance_from_worest_experiance
user_experiance.head(5)

Consider the average of both engagement & experience scores as the satisfaction score & report the top 10 satisfied customer

In [ ]:
user_id_engagement = user_engagements['MSISDN/Number'].values
user_id_experiance = user_experiance['MSISDN/Number'].values
user_intersection = list(
    set(user_id_engagement).intersection(user_id_experiance))
user_intersection[:5]

In [ ]:
user_engagement_df = user_engagements[user_engagements['MSISDN/Number'].isin(
    user_intersection)]
user_engagement_df.shape

In [ ]:
user_experiance_df = user_experiance[user_experiance['MSISDN/Number'].isin(
    user_intersection)]
user_experiance_df.shape

In [ ]:
user_df = pd.merge(user_engagement_df, user_experiance_df, on='MSISDN/Number')
user_df['satisfaction_score'] = (
    user_df['engagement_score'] + user_df['experience_score'])/2
user_df.head(5)

In [ ]:
sat_score_df = user_df[['MSISDN/Number', 'engagement_score',
                        'experience_score', 'satisfaction_score']]
sat_score_df = sat_score_df.set_index('MSISDN/Number')
sat_score_df.head(5)

In [ ]:
sorted_by_satisfaction = sat_score_df.sort_values(
    'satisfaction_score', ascending=False)
sat_top_10 = sorted_by_satisfaction['satisfaction_score'].head(10)

In [ ]:
hist(sat_top_10)

Build a regression model of your choice to predict the satisfaction score of a customer.

In [ ]:
scatter(sat_score_df, 'engagement_score',
        'experience_score', 'satisfaction_score')

Here we can clearly see whene expirience score and engament score increase, 
satisfaction score will also increase.

In [ ]:
X = sat_score_df[['engagement_score', 'experience_score']]
y = sat_score_df[['satisfaction_score']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
linear_reg = LinearRegression()
model = linear_reg.fit(X_train, y_train)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
print('Coefficients: \n', model.coef_)
print("Mean squared error: %.2f" %
      np.mean((model.predict(X_test) - y_test) ** 2))
print('Variance score: %.2f' % model.score(X_test, y_test))

Run a k-means(k=2) on the engagement & the experience score .

In [ ]:
user_satisfaction_df = user_df[[
    'MSISDN/Number', 
    'engagement_score',
    'experience_score']].copy()
user_satisfaction_df = user_satisfaction_df.set_index('MSISDN/Number')
user_satisfaction_df.head(5)

In [ ]:
user_satisfaction_df.plot.box()

There are no outliers.

In [ ]:
scaler = StandardScaler()
scaled_array = scaler.fit_transform(user_satisfaction_df)
scaled_array
pd.DataFrame(scaled_array).head(5)

In [ ]:
data_normalized = normalize(scaled_array)
pd.DataFrame(data_normalized).head(5)

In [ ]:
kmeans = KMeans(n_clusters=2, random_state=0).fit(data_normalized)
kmeans.labels_

In [ ]:
user_satisfaction_df.insert(0, 'cluster', kmeans.labels_)
user_satisfaction_df.head(5)

In [ ]:
user_satisfaction_df['cluster'].value_counts()

In [ ]:
fig = px.scatter(user_satisfaction_df, x='engagement_score', y="experience_score",
                 color='cluster')
Image(pio.to_image(fig, format='png', width=1200))

In [ ]:
user_satisfaction_df.to_csv('../data/TellCo_user_satisfaction.csv')

Aggregate the average satisfaction & experience score per cluster.

In [ ]:
user_satisfaction_df.groupby('cluster').agg(
    {'engagement_score': 'sum', 'experience_score': 'sum'})

Cluster 1 has higher Engagement and satisfaction score. 
Cluster 2 has vert low expirience score but higher engagement score.

Export your final table containing all user id + engagement, experience & satisfaction scores in your local MySQL database. Report a screenshot of a select query output on the exported table.

In [ ]:
engine = create_engine('mysql+pymysql://root:2203@localhost/telecom_user_db')

In [ ]:
try:
    print('writing to the database')
    frame = sat_score_df.to_sql(
        "telecom_user_analytics", con=engine, if_exists='replace')
    print('Writing Done!')
    
except Exception as e:
    print("Error writing to database: ", e)

In [ ]:
frame = pd.read_sql("select * from telecom_user_db.telecom_user_analytics", engine)
print(frame)

Model deployment tracking - deploy the model and monitor your model. Here you can use MlOps tools which can help you to track your model’s change.  Your model tracking report includes code version, start and end time, source, parameters, metrics(loss convergence) and artifacts or any output file regarding each specific run. (CSV file, screenshot)